<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/mantenedor/static/css/flex2.css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">

    <title>CAT HAN</title>
</head>

<body>

 
        <div class="navegacion">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="/mantenedor/app/templates/app/index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mantenedor/app/templates/app/quienes_somos.html">Quienes Somos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mantenedor/app/templates/app/formulario.html">Formulario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mantenedor/app/templates/app/contacto.html">Contactanos</a>
                </li>
            </ul>
        </div>
    
    <section class="font">
        <article class="gatos">
            <img src="/mantenedor/static/img/neko3.jpg" alt="neko3">
            <h1>Vestido tipo peto con carita de gato y orejitas.</h1>
            <h2>Largo ajustable gracias a los tirantes.</h2>
            <h3>Color: Negro</h3>
            <h4> Tela: Denim </h4>
            <h5> Precio:$10.000</h5>
            <p>Tallas: S - M - L.
        </article>
        <article class="gatos2">
            <img src="/mantenedor/static/img/Camiseta-de-verano-para-mujer-Harajuku-camiseta-Anime-Kawaii-gato-camiseta-compressor.jpg"
                alt="camiseta verano">
            <h1>Camiseta de verano para mujer</h1>
            <h2>ropa kawai para que estes 100% comoda en los dias calurosos</h2>
            <h4>Precio:$8.000</h4>P
            <p>Talla: S - M - L.
        </article>
        <article class="gatos3">
            <img src="/mantenedor/static/img/Neko-Atsume-Cute-Cat-Hoodie-Backyard-Girl-Sweater.jpg"
                alt="Photograph of an alligator emerging from an open manhole cover">
            <h1>Neko-Atsume-cute-cat</h1>
            <h2>Dateline</h2>
            <h4>precio:$13.000</h4>
            <p>Talla:S -M -L

        </article>
        <article class="gatos4">
            <img src="/mantenedor/static/img/ropa_rosada_kawai-compressor.png" alt="Ropa Rosada">
            <h1>Vestido de moda Coreana</h1>
            <h2>Sueter Kawaii rosado</h2>
            <h4>Precio:$20.000</h4>
            <p>talla: M - L</p>


        </article>


    </section>

    <section class="font">
        <article class="gatos5">
            <img src="/mantenedor/static/img/Kawaii-Clothing-Cute-Ropa-Cat-Neko-Atsume-Hoodie.jpg" alt="cute cat">
            <h1>Encuentra tu espíritu neko interior con esta linda sudadera</h1>
            <h2>Perfecto para cualquier fanático de Neko Atsume. Adecuado para juegos suaves y caricias </h2>
            <h3>una cantidad infinita de tu amor </h3>
            <h4> Precio:$22.000</h4>
            <P>talla: Xl</P>
        </article>

        <article class="gatos6">
            <img src="/mantenedor/static/img/Neko-Atsume-Hoodie-Cute-Cat-Backyard-Kawaii-Cat-Ears-Warm-Hoodies-Japanease-Harajuku-Style-Student-Women.jpg_q50.jpg"
                alt="Harajuku-Style">
            <h1> Neko Atsume Hoodie Cute Cat Backyard Kawaii Cat Ears</h1>
            <h2>Sudaderas con capucha cálidas Japanease Harajuku Style Estudiante Mujeres Niñas Lovely Pullover</h2>
            <h4> Precio:$15.000</h4>
            <P>Talla S -M -L</P>

        </article>




</body>

</html>