{% extends 'app/index.html' %}<!DOCTYPE html>
{% load staticfiles %}

{% block title %}
Quiénes somos
{% endblock %}

{% block content %}

    <section id="contenedor-inferior">
        <div class="lateral_izq">
           
        </div>
        <div class="lateral_der">
            <h1> ¿Quienes Somos? </h1>
            <p> Nuestro amor por los animales, y en este
                caso los gatos, nos ha llevado a querer
                llevar su escencia en nuestra ropa. Por eso
                es que decidimos diseñar de forma exclusiva para ustedes.

                Siempre comprometidos con traer lo último de la moda
                a nuestros clientes, contamos con los mejores diseñadores
                que trabajan exclusivamente para nuestra marca.
            </p>
            <br>
        </div>
    </section>

{% endblock %}
